#!/bin/bash

# dot_bootstrap directory hash: {{- (glob "dot_bootstrap/**" | join "" | sha256sum) }}

ansible-playbook -i {{ .chezmoi.sourceDir }}/dot_bootstrap/inventory.yml {{ .chezmoi.sourceDir }}/dot_bootstrap/setup.yml --ask-become-pass

